<div class="container">
  <div class="row">
  	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> 
      <div class="tabs">
        <ul class="nav nav-tabs smile-tabs">
          <li class="active"><a href="#homesmile" data-toggle="tab">Service 1</a></li>
          <li><a href="#secondsmile" data-toggle="tab">Service 2</a></li>
          <li><a href="#thirdsmile" data-toggle="tab">Service 3</a></li>
          <li><a href="#fourthsmile" data-toggle="tab">Service 4</a></li>
        </ul>                 
        <div class="tab-content">
          <div class="tab-pane active" id="homesmile">
           Service settings 1
          </div>
          <div class="tab-pane" id="secondsmile">
           Service settings 2
          </div>
          <div class="tab-pane" id="thirdsmile">
           Service settings 3
          </div>
          <div class="tab-pane" id="fourthsmile">
           Service settings 4
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
  </div>
</div>