<div class="container">
  <div class="row">
  	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h5 class="text-center"><%= link_to 'Services', services_path %></h5>
      <h5 class="text-center">Contacts</h5>
  	</div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  ">
      <h5 class='text-info text-center'>Chat</h5>
      <div class='well' id='border'>
      </div>
    </div>
  </div>
</div>
