div.container
  div.row
  	div.col-lg-2.col-md-2.col-sm-2.col-xs-2
      h5.text-center = link_to t("services"), services_path
      h5.text-center = t("contacts") 
  	div.col-lg-10.col-md-10.col-sm-10.col-xs-10
      h5.text-info.text-center = t("chat")
      div.well#border
  
