<div class="container">
  <div class="row">
  	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h5 class='text-info text-center'>Chat</h5>
      <div class='well' id='border'>
      	
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h5 class="blockquote-reverse label label-success" id="sender_label">Name: <%= @sender %></h5>
    </div>
  </div>
</div>
