/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

.center {
  margin-top: 18px;
  margin-left: 35%;
}

#border {
  height: 300px;
  overflow-y: auto;
  background-color: #eee;
}

.sms_block_contaner {
  display: block;
  weight: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 2px;
}

.outcoming_block {
  display: inline-block;
  float: right;
  border-radius: 15px 15px 0 15px;
  -moz-border-radius: 15px 15px 0 15px;
  -webkit-border-radius: 15px 15px 0 15px;
  border: 1px solid #000000;
  background-color: #91e842;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  padding: 5px;

}

.incoming_block {
  display: inline-block;
  border-radius: 15px 15px 15px 0;
  -moz-border-radius: 15px 15px 15px 0;
  -webkit-border-radius: 15px 15px 15px 0;
  border: 1px solid #000000;
  background-color: #bce0ee;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  padding: 5px;
}

#sender_name_container {
  background: #2c2c2c;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding-left: 3px;
}

#sender_name_text_color {
  color: #c1bfea;
}

.button_of_sender {
  margin-right: 4px;
}

label {
  margin-right: 4px;
  margin-left: 4px;
}

.my_btn {
  margin-top: 4px;
  margin-bottom: 4px;
}
